@model CS4790A3.Models.Site

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Site</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="SiteID" />
        <dt>
            @Html.DisplayNameFor(model => model.siteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteLandType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteLandType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteUses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteUses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteWater)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteWater)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteGas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteGas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteOffroad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteOffroad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteLong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteLong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteLat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteLat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteLevel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
