@model CS4790A3.Models.Site

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.siteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteLandType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteLandType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteUses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteUses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteWater)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteWater)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteGas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteGas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteOffroad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteOffroad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteLong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteLong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteLat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteLat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SiteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
