@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CS4790A3.Models.Site

    <h1 class="col-xs-12">Thank you all for your contributions!</h1>
    <div class="col-xs-12">
    <div class="col-md-5 col-xs-12">
        <table class="table-striped">
            <tr>
                <td class="col-xs-4 text-left pad2">Site Name: </td>
                <td>@Model.siteName</td>
            </tr>
            <tr>
                <td class="col-xs-4 text-left pad2">Land Type: </td>
                <td>@Model.siteLandType</td>
            </tr>
            <tr>
                <td class="col-xs-4 text-left pad2">Latitude: </td>
                <td>
                <script>document.write(convertLatLong(@Model.siteLat, "latitude"))</script></td>
            </tr>
            <tr>
                <td class="col-xs-4 text-left pad2">Longitude: </td>
                <td>
                <script>document.write(convertLatLong(@Model.siteLong,"longitude"))</script></td>
            </tr>
            <tr>
                <td class="col-xs-4 text-left pad2">Description: </td>
                <td>@Model.siteDescription</td>
            </tr>
            <tr>
                <td class="col-xs-4 text-left pad2">Water available? </td>
                <td>@Model.siteWater</td>
            </tr>
            <tr>
                <td class="col-xs-4 text-left pad2">Miles to gas station: </td>
                <td>@Model.siteGas</td>
            </tr>
            <tr>
                <td class="col-xs-4 text-left pad2">Offroad vehicles only: </td>
                <td>@Model.siteOffroad</td>
            </tr>
            <tr>
                <td class="col-xs-4 text-left pad2">Site Uses: </td>
                <td>@Model.siteUses</td>
            </tr>
            <tr>
                <td class="col-xs-4 text-left pad2">User Name: </td>
                <td>@Model.User.userName</td>
        </tr>
        <tr>
            <td class="col-xs-4 text-left pad2">Email: </td>
            <td>@Model.User.userEmail</td>
        </tr>
        <tr>
            <td class="col-xs-4 text-left pad2">Is Site Level?: </td>
            <td>@Model.siteLevel</td>
        </tr>
        <tr>
            <td class="col-xs-4 text-left pad2">
                <button onclick="location.href='@Url.Action("Sites","Home")'" class="btn btn-primary top10">To Sites...</button>
                <br /><br />
            </td>
        </tr>

    </table>
</div>
<div class="col-md-5 col-xs-12">
    <div id="map" style="width:100%;height:50vh;"></div>
</div>

</div>
<div class="col-xs-12">
    <table>
        
        
    </table>

</div>

<script>
    var marker;


    function myMap() {
        var mapCanvas = document.getElementById("map");
        var lat = @Model.siteLat;
        var long = @Model.siteLong;

        var myCenter = new google.maps.LatLng(lat, long);
        var mapOptions = { center: myCenter, zoom: 12 };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var ltlng = { lat: lat, lng: long };
        console.log(ltlng)
        var marker = new google.maps.Marker({
            position: ltlng,
                map:map,
            title: 'Site Location'
        });
        
    }


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtfgo1CUqPTn2EV8m39gAm8x6xqVb92KE&callback=myMap"></script>